<form method="get" action="/quizes/<%= quiz.id %>/answer">
  Pregunta sobre <%= quiz.tema %>: <%= quiz.pregunta %> <p>
  <input type="text" name="respuesta" value="Respuesta"/>
  <input type="submit" value="Enviar">
</form>
